<% provide(:title, "About") %>
<h1>About</h1>
<div class="jumbotron">
  <h3><b>How to use the site</b></h3>
    <ol>
      <li>Begin by creating your account using your full name and email,
          then authorize your account via the email you will be sent (check
          Junk Folder if you cannot find this email)</li>
      <li>If you wish to add your own Textbook, this can be done using the
          box on the left hand side of the Books or Profile page once you are
          logged in.</li>
      <li>If you are interested in a book, simply click on the title of it when you
          are logged in to begin a conversation with the owner of that book.</li>
      <li>If someone shows interest in your book you will get a notification that you
          have received a message, it is then up to you to negotiate the details of
          the transaction.</li>
      <li>Once you are sure you wish to exchange or have already exchanged the textbook
          you can return to the conversation with that person and hit the "Trade" button.
          This will place your book into their account, removing it from yours.</li>
    </ol>
  <h3><b>What is this site about?</b></h3>
    <p>This site was created to save St.FX students money each year
       by faciliating the trade of textbooks in order to avoid the necessity
       of investing $800 in books that are only used for 4 months</p>
    <p>The details of the exchanges are to be decided by those
       invloved in the exchange. This includes but is not limited to: charging for
       your textbook, swapping books, or paying it forward by giving your book away.</p>
    </br>

  <h3><b>The Future</b></h3>
    <p>I am currently focusing on creating a better user experience with the
       current features of the site, but have some plans for the future of the site.
       Including the addition of a Note Exchange for students which will hopefully be implemented
       by the beginning of next year. If you have any recommendations on changes you'd like to
       see please email me at x2015jwz@stfx.ca</p>
</div>
