<% provide(:title, "About") %>
<h1>About</h1>
<div class="jumbotron">
  <p>This site is for St. Francis Xavier students<p>
  <p>It hosts the exchange of textbooks</p>
  <p>The details of the exchange are to the discretion of the user(s)</p>
  </br>
  <ul>
    <h3>Features still to be added</h3>
      <li>Notification System</li>
      <li>Updates in design</li>
  </ul>
</div>
