<% provide(:title, "About") %>
<h1>About</h1>
<div class="jumbotron">
  <h3><b>What is this site about?</b></h3>
    <p>This site was created to save St.FX students money each year
       by faciliating the trade of textbooks in order to avoid the necessity
       of investing $800 in books that are only used for 4 months</p>
    <p>The details of the exchanges are to be decided by those
       invloved in the exchange. This includes but is not limited to: charging for
       your textbook, swapping books, or paying it forward by giving your book away.</p>
    </br>

  <h3><b>The Future</b></h3>
    <p>I currently have a few ideas as to where I want to take this site
       but will begin with creating a better user experience. If you have
       any recommendations on changes you'd like to see please email me at
       x2015jwz@stfx.ca</p>
</div>
