<% provide(:title, "Contact") %>
<h1>Contact</h1>
<div class="jumbotron">
  <p>If you come across any problems, need help, or have any feedback / suggestions
     please contact x2015jwz@stfx.ca.</p>
  <p>If you are a developer and want some experience working in web developemnt,
     feel free to contact me as I could always use help in making improvements.</p>

  <p>- Devin McArthur</p>

  <p></br><i>Please remember the site is still in beta</i></p>
</div>
