<% provide(:title, "Contact") %>
<h1>Contact</h1>
<div class="jumbotron">
  <p>If you come across any problems or need help working the site,
     please contact x2015jwz@stfx.ca and I'll do what I can to help.</p>
     <p> Also, if you have any feedback or suggestions for improvement feel
       free to contact me.</p>
  <p>- Devin McArthur</p>

  <p></br><i>Please remember the site is still in beta</i></p>
</div>
