Hi <%= @user.name %>,

<p>
Come get rid of all the Textbooks you no longer need and help your fellow Exchangers
save some money on their books this semester!
</p>

<%= link_to "Click Here!", Rails.application.routes.url_helpers.user_path(@user) %>

<p>
We'd also like to thank you again for joining our community of students who say "No"
to spending hundreds of dollars on textbooks each semester!
</p>
<p>Check back regularly to search all the new books added by your peers.</p>

Cheers,</br>
Devin McArthur
