Hi <%= @recipient.name %>,<br/><br/>

<%= @sender.name.titleize %> seems to be interested in your book:
<h2>"<%= @book.title %>"</h2>

Follow the link below to begin chatting!

<div class="home-button">
  <%= link_to "Begin Chatting!", @conversation, class: "btn btn-lg btn-primary" %>
</div>
