<h4>Demand a Textbook</h4>
<%= form_for(@demand) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: "  What book do you need?" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
