<div class="demand-form">
  <h4>Request a Textbook</h4>
  <%= form_for(@demand) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_field :title, placeholder: " Title: keywords", class: "demand-form-content" %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
</div>
