<% if !yield(:demand_feed_title).empty? %>
  <h1><%= yield(:demand_feed_title) %> (<%= @demands.count %>)</h1>
<% end %>
<!-- Demand Loop -->
<% if @demands.any? %>
  <% @demands.each do |t| %>
    <% @demands = t %>
    <%= render 'shared/demand_box' %>
  <% end %>
<% end %>
